<!DOCTYPE html>
    <html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport"content="width=device-width, initial-scale=1.0"&amp;gt;>
        <link rel="stylesheet" type="text/css" href="estilos.css">
        <title>Cosas sobre mi</title>
    </head>
    <body
          <div class="contenedor">
        <header>
             <table align="center"title=" Yo" class="tabla">
                 <tr>
                     <th rowspan="3"><img src="img\Fotpr.png" style="width: 25%; height: 25%" title=" Foto personal"></th>
                     <th>Lilian Ramon - 3ro E1</th>
                 </tr>
                 <tr align="center">
                     <td colspan="3">DEPORTES QUE HE PRACTICADO</td>
                 </tr>
             </table>
         </header>
    
          <nav class="barra_menu2">
        <h4>Menu</h4>
        <button (click)="navegacionc21()">Componente 1</button>
        <button (click)="navegacion23()">Componente 3</button>
        <button (click)="navegacion24()">Componente 4</button>
         </nav>
    
     <main class="cabezera2">
        <h2 aling = "center"><font color="#F8D210">Gimnacia</font></h2>
    <div aling="left" width="40%" height="70%">
        <img src="https://i.pinimg.com/564x/49/32/bc/4932bc6fb7920200eaa380900de273cb.jpg" style="width: 25%; height: 25%">
    </div>
    <div aling="right" width="40%" height="70%">
<p> 
    En mi inancia practique gimnacia durante 1 <br> año y lo retome cuando tenia 13 años, es un <br> deporte que me gusta mucho pero aveces tiende <br> a ser muy toxico y con un hambiente de celos <br>
    muy grande y en el cual resulta dificil estar<br>
</p>
    </div>

    <h2 aling = "center"><font color="#F8D210">Natación</font></h2>
    <div aling="left" width="40%" height="70%">
        <img src="https://i.pinimg.com/236x/a1/e6/28/a1e62809a4ae5007d251a0b4177093b6.jpghttps://i.pinimg.com/236x/a1/e6/28/a1e62809a4ae5007d251a0b4177093b6.jpg" style="width: 25%; height: 25%">

    </div>
    <div aling="right" width="40%" height="70%">
        <p>
        Durante 3 años mientras estaba en la escula <br> practique natacion por obligacion ya que era <br> que evitaria que me "quedara pequeña", aun <br> que el resultado de aver entrenado eso no <br>
        no cambio mucho mi estatura, pero me ayudo <br> mucho en cuanto a mi rendimiento y <br> resistencia fisica.
        </p>
    </div>

    <h2 aling = "center"><font color="#F8D210">Patinaje</font></h2>
    <div aling="left" width="40%" height="70%">
        <img src="https://i.pinimg.com/236x/4d/4a/f9/4d4af9e076f275e482ab4da0f4ef8eb9.jpg" style="width: 25%; height: 25%">

    </div>
    <div aling="right" width="40%" height="70%">
        <p> Lo practique en conjunto con la gimnacia ya que <br> resultaba conveniente ya que era complementario <br> este deporte tambien me gustaba mucho y a <br> diferecia de la gimnacia el ambiente con mis <br>
            compañeros era mucho mas relajado y todo eran <br> respetuoso con todos.
        </p>
    </div>

    <h2 aling = "center"><font color="#F8D210">Judo</font></h2>
    <div aling="left" width="40%" height="70%">
        <img src="https://i.pinimg.com/236x/ab/9f/cd/ab9fcd57dc1855d58b83384fc4e044cb.jpg" style="width: 25%; height: 25%">

    </div>
    <div aling="right" width="40%" height="70%">
        <p>Durante 3 años mientras estaba en la escula
           No lo practique por mucho tiempo por la <br>
            pandendimia, aun asi me gusto mucho ya que <br>
            era un deporte en donde la tecnica predomi-<br>
            naba ante la fuerza, aunque esta era impor-<br>
            tante la resistencia definia muchos de los <br>
            combates.
        </p>
    </div>

    <div aling="center">
        <b>Posdata: </b>
    <p>No duro en nada por que me aburro facil </p>
    </div>
        </main>
    
    
              <footer>
            <table class="tabla2">
                <tr>
                  <td>Fecha:20/11/2022</td>
                    <td>lilian.ramonl.est@uets.edu.ec/td>
                    <td>Lilian Ramon</td>
                </tr>
            </table>
            </footer>
     </div>
    
    </body>
    </html>