<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport"content="width=device-width, initial-scale=1.0"&amp;gt;>
    <link rel="stylesheet" type="text/css" href="estilos.css">
    <title>Cosas que me gustan</title>
</head>
<body
      <div class="contenedor">
    <header>
         <table align="center"title=" Yo" class="tabla">
             <tr>
                 <th rowspan="3"><img src="img\Fotpr.png" style="width: 25%; height: 25%" title=" Foto personal"></th>
                 <th>Lilian Ramon - 3ro E1</th>
             </tr>
             <tr align="center">
                 <td colspan="3">HOBBYS</td>
             </tr>
         </table>
     </header>

      <nav class="barra_menu3">
    <h4>Menu</h4>
    <button (click)="navegacionc31()">Componente 1</button>
    <button (click)="navegacion32()">componente 3</button>
    <button (click)="navegacion34()">componente 4</button>
     </nav>

 <main class="cabezera3">
    <h2 aling = "center"><font color="#F8D210">Pintar</font></h2>
<div aling="left" width="40%" height="70%">
    <img src="https://i.pinimg.com/originals/81/71/74/817174df4b54f1310660e6ae1533106e.gif" style="width: 25%; height: 25%">
</div>
<div aling="right" width="40%" height="70%">
<p> 
En mi inancia practique gimnacia durante 1 <br> 
Aunque no soy constate me gusta pintar con<br> 
oleos, pero la pintura que mas me gusta es<br> 
la acuarela pero no puedo controlar del <br> 
todo bien la tecnica, aun que la acuarela<br> 
con el acrilico es mas facil de manipular<br> 
no me gusta del todo
</p>
</div>

<h2 aling = "center"><font color="#F8D210">Leer</font></h2>
<div aling="left" width="40%" height="70%">
    <img src="https://i.pinimg.com/originals/42/88/b0/4288b0367a47ca15e89aeab9862717c8.gif" style="width: 25%; height: 25%">

</div>
<div aling="right" width="40%" height="70%">
    <p>
    El primer libro que lei fue el principito,<br> 
    luego de eso la escuela obligaba a leer un <br> 
    libro por mes que ellos escogiran, eso <br> 
    hizo que me dejara de intereasar, pero en <br> 
    mi cumpleaños me regalaron un libro titulado <br> 
    "Metamorfosis" que se convirtio en mi favorito<br> 
    lo que me hixo darme cuenta que odiaba leer <br> 
    por obligacion.
    </p>
</div>

<h2 aling = "center"><font color="#F8D210">Hornear</font></h2>
<div aling="left" width="40%" height="70%">
    <img src="https://i.pinimg.com/originals/d1/66/78/d16678eb987a6525b4cadfef6791e569.gif" style="width: 25%; height: 25%">

</div>
<div aling="right" width="40%" height="70%">
    <p> 
        Resulta que solo lo hago cuando estoy estresada<br> 
        como un metodo de desfogue ya que me olvido<br> 
        de mis problemas y me concentro solo en  hacer<br> 
        los postres y para luego poder comerlos y tener<br> 
        un momentito de felisidad y satisfaccion. <br> 
        "Algo asi como las mamas cuando barren"
    </p>
</div>


    </main>


          <footer>
        <table class="tabla3">
            <tr>
              <td>Fecha:20/11/2022</td>
                <td>lilian.ramonl.est@uets.edu.ec/td>
                <td>Lilian Ramon</td>
            </tr>
        </table>
        </footer>
 </div>

</body>
</html>