<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport"content="width=device-width, initial-scale=1.0"&amp;gt;>
    <link rel="stylesheet" type="text/css" >
    <title>La musica que me gusta</title>
</head>
<body>
    
         <table align="center"title=" Yo" class="tabla">
             <tr>
                 <th rowspan="3"><img src="img\Fotpr.png" style="width: 25%; height: 25%" title=" Foto personal"></th>
                 <th>Lilian Ramon - 3ro E1</th>
             </tr>
             <tr align="center">
                 <td colspan="3">Musica Favorita</td>
             </tr>
         </table>


      <nav class="barra_menu2">
    <h4>Menu</h4>
    <button (click)="navegacionc41()">Componente 1</button>
    <button (click)="navegacion42()">componente 3</button>
    <button (click)="navegacion43()">componente 4</button>
     </nav>

 
     <table align="center" title=" Musica" class="tabla">

        <tr>
      
          <td>  
                <iframe width="560" height="315" src="https://www.youtube.com/embed/5cV_i7SwuY8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen ></iframe> 
            </td>
      
          <td> 
            <h2 aling = "center"><font color="#F8D210">Lolabum</font></h2>
        
        </td>
        </tr>
      
        <tr>
      
          <td>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/SDH2ghIV67o" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe ></iframe>
        </td>
      
          <td> <h2 aling = "center"><font color="#F8D210">Guardaraya</font></h2>
            <p>
                Banda ecuatoria gusto heredado de mis tios <br>
                igual ¿A quíen no le gusta? 
                </p>  
        </td>
      

      
        </tr>
        <tr>
      
            <td>    
                <iframe width="560" height="315" src="https://www.youtube.com/embed/qolmz4FlnZ0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen ></iframe>
            </td>
        
            <td><h2 aling = "center"><font color="#F8D210">Lana del rey</font></h2>
                <p> 
                    En este punto quien no la ah escuchado 
                </p>
            </td>
        
          </tr>
    

        <tr>
      
            <td> <iframe width="560" height="315" src="https://www.youtube.com/embed/JWywn51-B_I" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen ></iframe>
            </td>
        
            <td> <h2 aling = "center"><font color="#F8D210">Marina and the diamonds</font></h2>

                <p>
                    Se apega a la realidad y a muchos senti- <br>
                    mientos que tienden a tener los adolecentes<br>
                    y aveces es una critica a la sociedad. <br>
                 </p>     
            </td>
        
          </tr>
      
      </table>
   


        <table class="tabla4">
            <tr>
              <td>Fecha:20/11/2022</td>
                <td>lilian.ramonl.est@uets.edu.ec</td>
                <td>Lilian Ramon</td>
            </tr>
        </table>

</body>
</html>