<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport"content="width=device-width, initial-scale=1.0"&amp;gt;>
    <link rel="stylesheet" type="text/css" href="estilos.css">
    <title>yo</title>
</head>
<body
      <div class="contenedor">
    <header>
         <table align="center"title=" Yo" class="tabla">
             <tr>
                 <th rowspan="3"><img src="img\Fotpr.png" style="width: 25%; height: 25%" title=" Foto personal"></th>
                 <th>Lilian Ramon - 3ro E1</th>
             </tr>
             <tr align="center">
                 <td colspan="3">HOBBYS</td>
             </tr>
         </table>
     </header>

      <nav class="barra_menu3">
    <h4>Menu</h4>
    <button (click)="navegacionc2()">Componente 2</button>
    <button (click)="navegacionc3()">componente 3</button>
    <button (click)="navegacionc4()">componente 4</button>
     </nav>

 <main class="cabezera3">
    
<div aling="center" width="40%" height="70%">
<p> 
Mi nombre es Lilian que probiene de lirio.<br>
Naci el 19 de octubre del 2005<br>
Mi animal favorito son los felinos<br>
Tengo una gran familia<br>
Me gusta el cafe amargo<br>
no se que a que me voy a dedicar en el futuro.<br>
Y esto es un poco de lo que soy:
</p>
</div>

<h2 aling = "center"><font color="#F8D210">Gimnacia</font></h2>
<div aling="left" width="40%" height="70%">
    <img src="https://i.pinimg.com/564x/49/32/bc/4932bc6fb7920200eaa380900de273cb.jpg" style="width: 25%; height: 25%">
</div>
<div aling="right" width="40%" height="70%">
<p> 
es mi deporte favorito y el que <br>
mas me ha echo llorar.
</p>
</div>

<h2 aling = "center"><font color="#F8D210">Leer</font></h2>
<div aling="left" width="40%" height="70%">
    <img src="https://i.pinimg.com/originals/42/88/b0/4288b0367a47ca15e89aeab9862717c8.gif" style="width: 25%; height: 25%">

</div>
<div aling="right" width="40%" height="70%">
    <p>
    No me gusta leer por obligacion <br>
    pero los libros de misterio y <br>
    fantasia me encantan
    </p>
</div>


<h2 aling = "center"><font color="#F8D210">Lana del rey</font></h2>
<div aling="left" width="40%" height="70%">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/qolmz4FlnZ0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen style="width: 25%; height: 25%"></iframe>

</div>
<div aling="right" width="40%" height="70%">
    <p> 
        Me gusta mucho esta cancion
    </p>
</div>

    </main>


          <footer>
        <table class="tabla3">
            <tr>
              <td>Fecha:20/11/2022</td>
                <td>lilian.ramonl.est@uets.edu.ec/td>
                <td>Lilian Ramon</td>
            </tr>
        </table>
        </footer>
 </div>

</body>
</html>